body {
  margin: 0px;
  font-size: 20px;
}

/* ESTILOS HEADER */
header ul {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
header li {
  color: white;
  margin: 30px;
  text-decoration: none;
}

ul a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  text-decoration: none;
}

header {
  background-color: darkcyan;
}

/* ESTILOS FOOTER */
footer {
  background-color: darkcyan;
  padding: 10px;
}

footer li {
  color: white;
  padding: 3px;
}

/* ESTILOS ADENTRO DEL MAIN */

section {
  text-align: center;
}

h1 {
  color: red;
}

h3 {
  color: blue;
}

h4 {
  color: green;
}

.tablaPromociones {
  display: flex;
  justify-content: center;
}

.formularioContactos {
  justify-content: center;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  margin: 30px;
}

main h1 {
  text-align: center;
}

.padre {
  display: flex;
  flex-wrap: wrap;
}

.padre .hamburgesaUno {
  width: calc(33.3% - 20px);
  border: 2px solid black;
  margin: 7px;
  background-color: #ff9900a8;
}
.padre .hamburgesaDos {
  width: calc(33.3% - 20px);
  border: 2px solid black;
  margin: 7px;
  background-color: #ff9900a8;
}

.padre .hamburgesaTres {
  width: calc(33.3% - 20px);
  border: 2px solid black;
  margin: 7px;
  background-color: #ff9900a8;
}

.padre .papasUno {
  width: calc(33.3% - 20px);
  border: 2px solid black;
  margin: 7px;
  background-color: #ff9900a8;
}

.padre .papasDos {
  width: calc(33.3% - 20px);
  border: 2px solid black;
  margin: 7px;
  background-color: #ff9900a8;
}

.padre .papasTres {
  width: calc(33.3% - 20px);
  border: 2px solid #3c3c3c;
  margin: 7px;
  background-color: #ff9900a8;
}

.padre img {
  width: 237.96px;
  height: 237.96px;
}

.padre .hamburgesaDos img {
  width: 237.96px;
  height: 237.96px;
}

th {
  border: 2px solid black;
  padding: 8px;
}

body main {
  width: 80%;
  margin: auto;
}

/* HOME */

#bannerUno {
  text-align: center;
  background-color: #f191009b;
  padding: 10px;
}
.informacion {
  background-color: #ff99004b;
  padding: 10px;
  margin-bottom: 20px;
}
.imagenBanner {
  max-width: 100%;
  margin: auto;
}

/* Nosotros*/

.cocina {
  display: flex;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
.cocinaImg {
  width: 50%;
}

.cocinaImg img {
  width: 90%;
  margin: auto;
}

.cocinaText {
  width: 50%;
  margin-top: 140px;
}

.cocinaText p {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 930px) {
  body {
    font-size: 16px;
  }

  body main {
    width: 96%;
    margin: auto;
  }
  header ul {
    flex-direction: column;
  }

  header li {
    margin: 6px;
  }

  .formularioContactos {
    margin: 0px;
  }

  .padre .hamburgesaUno {
    width: calc(50% - 20px);
  }
  .padre .hamburgesaDos {
    width: calc(50% - 20px);
  }

  .padre .hamburgesaTres {
    width: calc(50% - 20px);
  }

  .padre .papasUno {
    width: calc(50% - 20px);
  }

  .padre .papasDos {
    width: calc(50% - 20px);
  }

  .padre .papasTres {
    width: calc(50% - 20px);
  }
  .padre img {
    width: 100px;
    height: 100px;
  }

  .padre .hamburgesaDos img {
    width: 100px;
    height: 100px;
  }

  .cocina {
    display: block;
  }
  .cocinaImg {
    width: 100%;
  }

  .cocinaImg img {
    width: 40%;
    margin: auto;
  }

  .cocinaText {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
